main {
    padding-block: 4rem 6rem;
}

section {
    header {
        padding-top: 1.2rem;
        border-top: 1px solid var(--stroke-color);

        h3 {
            font: var(--h3);
        }

        a {
            display: grid;
            grid-auto-flow: column;
            justify-self: end;
            align-items: center;
            gap: 0.8rem;
        }
    }

    h2,
    p {
        overflow: hidden;
        display: -webkit-box;
        /* display 3 lines only */
        -webkit-line-clamp: 3;
        line-clamp: 3;
        -webkit-box-orient: vertical;
    }
}

#featured .card {
    border-radius: 4px;
    overflow: hidden;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        inset: 50% 0 0;
        background: linear-gradient(180deg,
                transparent 0%,
                #020617 100%);
    }

    figcaption {
        position: absolute;
        bottom: 0;

        padding: 2.4rem;

        &:has(.text-lg) {
            padding: 1.2rem;
        }

        h2 {
            margin-top: 0.8rem;
        }
    }
}

#weekly {
    figure {
        padding-block: 2.4rem;

        img {
            height: 16rem;
            object-fit: cover;
        }

        p {
            -webkit-line-clamp: 2;
            line-clamp: 2;
        }
    }
}

#highlights {
    grid-template-columns: 3fr 2fr;
    gap: 3.2rem;

    header {
        margin-bottom: 2.4rem;
    }

    #ia {
        .highlight {
            grid-template-columns: 1fr 17.6rem;
            align-items: center;

            img {
                height: 100%;
                object-fit: cover;
            }

            h2 {
                margin-block: 0.8rem .4rem;
                -webkit-line-clamp: 2;
                line-clamp: 2;
            }

            p {
                -webkit-line-clamp: 4;
                line-clamp: 4;
            }
        }
    }

    aside {
        display: flex;
        flex-direction: column;

        & img {
            max-height: 100%;
            object-fit: cover;
        }
        

        #more #latest > div {
            grid-template-columns: 7.2rem 1fr;
            align-items: center;
            gap: 1.5rem;

            img {
                height: 100%;
                object-fit: cover;
            }

            p {
                line-height: 140%;
                font: var(--text-span);

                -webkit-line-clamp: 2;
                line-clamp: 2;
            }
        }
    }
}

footer {
    padding-bottom: 1.6rem;
    justify-items: center;
}